<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="johnsuite" parallel="none">

	<listeners>
		<listener class-name="com.listeners.ListenerTest"></listener>
<!--		<listener class-name="com.listeners.AnnotationTransformer"></listener>-->
	</listeners>
	<test name="Test" parallel = "none" thread-count = "1" >
		<parameter name="Module" value="ClientMedical" />
		<classes>
		 <class name="com.tests.TestingReports">
			<methods>
				<include name="testLogin"/>
<!--				<include name="testreport"/>-->
			</methods>
		 </class>

		</classes>
	</test>
</suite>