<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="PLSI" parallel="none">

	<listeners>
		<listener class-name="com.listeners.ListenerTest"></listener>
	</listeners>
	<test name="VG" parallel = "none" thread-count = "1">
		<classes>
		
			<!--//every method passed-->
			<class name="com.tests.Interpreter_Offer_AcceptTest">
				<methods>
					<include name="makeAnOfferToInterpreter"/>
					
				</methods>
			</class>

		</classes>
	</test>

</suite>